{% extends "base.html" %} {% block content %}
<div class="col-md-6 col-lg-4">
    <div class="row">
        <div class="col-6">
            <h4 class="mb-3">Labels</h4>
            <div id="chair-labels" class="row g-3">
                <div class="col-12">
                    <label for="back" class="form-label">Back</label>
                    <select class="form-select" name="size" id="size">
                        <option selected value="back-size">select size</option>
                        <option value="back-size-half">half</option>
                        <option value="back-size-full">full</option>
                    </select>
                    <select class="form-select" name="fill" id="fill">
                        <option selected value="back-fill">select fill</option>
                        <option value="back-fill-solid">solid</option>
                        <option value="back-fill-vertical-ladder">vertical ladder</option>
                        <option value="back-fill-horizontal-ladder">horizontal ladder</option>
                        <option value="back-fill-holes">holes</option>
                        <option value="back-fill-no-back">no back</option>
                    </select>
                    <select class="form-select" name="side-view" id="side-view">
                        <option selected value="back-side-view">select side view</option>
                        <option value="back-side-view-straight">straight</option>
                        <option value="back-side-view-bent">bent</option>
                    </select>
                    <select class="form-select" name="front-view" id="front-view">
                        <option selected value="back-front-view">select front view</option>
                        <option value="back-front-view-square">square</option>
                        <option value="back-front-view-round">round</option>
                        <option value="back-front-view-curved">curved</option>
                    </select>
                </div>
                <div class="col-12">
                    <label for="seat" class="form-label">Seat</label>
                    <select class="form-select" name="shape" id="shape">
                        <option selected value="seat-shape">select shape</option>
                        <option value="seat-shape-square">square</option>
                        <option value="seat-shape-circular">circular</option>
                    </select>
                </div>
                <div class="col-12">
                    <label for="leg" class="form-label">Leg</label>
                    <select class="form-select" name="number" id="number">
                        <option selected value="leg-number">select number</option>
                        <option value="leg-number-one">one</option>
                        <option value="leg-number-two">two</option>
                        <option value="leg-number-three">three</option>
                        <option value="leg-number-four">four</option>
                        <option value="leg-number-five">five</option>
                    </select>
                    <select class="form-select" name="length" id="length">
                        <option selected value="leg-length">select length</option>
                        <option value="leg-length-short">short</option>
                        <option value="leg-length-long">long</option>
                    </select>
                    <select class="form-select" name="type" id="type">
                        <option selected value="leg-type">select type</option>
                        <option value="leg-type-roller">roller</option>
                        <option value="leg-type-straight">straight</option>
                        <option value="leg-type-beam">beam</option>
                        <option value="leg-type-box">box</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h4 class="mb-3">Distributions</h4>
            <div id="chair-samples" class="row g-3">
                <div class="col-12">
                    <input type="range" class="form-range" id="range0" step="0.01" min="-1" max="1" disabled>
                    <input type="range" class="form-range" id="range1" step="0.01" min="-1" max="1" disabled>
                    <input type="range" class="form-range" id="range2" step="0.01" min="-1" max="1" disabled>
                    <input type="range" class="form-range" id="range3" step="0.01" min="-1" max="1" disabled>
                    <input type="range" class="form-range" id="range4" step="0.01" min="-1" max="1" disabled>
                    <input type="range" class="form-range" id="range5" step="0.01" min="-1" max="1" disabled>
                    <input type="range" class="form-range" id="range6" step="0.01" min="-1" max="1" disabled>
                    <input type="range" class="form-range" id="range7" step="0.01" min="-1" max="1" disabled>
                    <input type="range" class="form-range" id="range8" step="0.01" min="-1" max="1" disabled>
                    <input type="range" class="form-range" id="range9" step="0.01" min="-1" max="1" disabled>
                    <input type="range" class="form-range" id="range10" step="0.01" min="-1" max="1" disabled>
                    <input type="range" class="form-range" id="range11" step="0.01" min="-1" max="1" disabled>
                    <input type="range" class="form-range" id="range12" step="0.01" min="-1" max="1" disabled>
                    <input type="range" class="form-range" id="range13" step="0.01" min="-1" max="1" disabled>
                    <input type="range" class="form-range" id="range14" step="0.01" min="-1" max="1" disabled>
                    <input type="range" class="form-range" id="range15" step="0.01" min="-1" max="1" disabled>
                    <input type="range" class="form-range" id="range16" step="0.01" min="-1" max="1" disabled>
                    <input type="range" class="form-range" id="range17" step="0.01" min="-1" max="1" disabled>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <button type="button" class="my-1 w-100 btn btn-primary" id="btn-generate">Generate</button>
        <button type="button" class="my-1 w-100 btn btn-primary" id="btn-export">Export Mesh</button>
    </div>
</div>
<div id="scene" class="col-md-6 col-lg-8">
</div>
{% endblock %}
